<footer class="page-footer">
    <div class="container text-center">
        <div class="social-links">
            <a href="https://t.me/IkaryShinji" title="Telegram" target="_blank"><i class="fa fa-telegram"></i></a>
            <a href="https://github.com/MarcosArguello2021" title="Github" target="_blank"><i class="fa fa-github-alt"></i></a>
        </div>
        <div class="copy-right mt-20">
            <a href="https://www.linkedin.com/in/marcos-arg%C3%BCello-804105195/" title="LinkedIn" target="_blank">Perfil de Linkedin</a>
            <p class="alt-font">Programador Web Full Stack: Marcos Argüello</p>
        </div>
    </div>
</footer>
