.form-control {
    box-shadow: none;		
    font-weight: normal;
    font-size: 13px;
}
.form-control:focus {
    border-color: #33cabb;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.navbar {
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-bottom: 1px solid #dfe3e8;
    border-radius: 1;

}
.nav img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}
.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    padding-left: 0;
    font-size: 15px;
    padding-right: 20px;
}
.navbar .navbar-brand b {
    font-weight: bold;
    color: #00cccc;		
}
.navbar .form-inline {
    display: inline-block;
}
.navbar .nav li {
    position: relative;
}
.navbar .nav li a {
    color: #33ccff;
}
.search-box {
    position: relative;
}	
.search-box input {
    padding-right: 35px;
    border-color: #dfe3e8;
    border-radius: 4px !important;
    box-shadow: none
}
.search-box .input-group-addon {
    min-width: 35px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 7px;
    height: 100%;
}
.search-box i {
    color: #a0a5b1;
    font-size: 19px;
}
.navbar .nav .btn-primary, .navbar .nav .btn-primary:active {
    color: #fff;
    background: #33cabb;
    padding-top: 8px;
    padding-bottom: 6px;
    vertical-align: middle;
    border: none;
}	
.navbar .nav .btn-primary:hover, .navbar .nav .btn-primary:focus {		
    color: #fff;
    outline: none;
    background: #31bfb1;
}
.navbar .navbar-right li:first-child a {
    padding-right: 30px;
}
.navbar ul li i {
    font-size: 18px;
}
.navbar .dropdown-menu i {
    font-size: 16px;
    min-width: 22px;
}
.navbar ul.nav li.active a, .navbar ul.nav li.open > a {
    background: transparent !important;
    color: #33ccff;
}	
.navbar .nav .get-started-btn {
    min-width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.navbar ul.nav li.open > a.get-started-btn {

    color: #fff;
    background: #339900 !important;
}
.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    background-color: #051d1d;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .nav .dropdown-menu li {
    color: #999;
    font-weight: normal;
}
.navbar .nav .dropdown-menu li a, .navbar .nav .dropdown-menu li a:hover, .navbar .nav .dropdown-menu li a:focus {
    padding: 8px 20px;
    line-height: normal;
}
.navbar .navbar-form {
    border: none;
}
.navbar .dropdown-menu.form-wrapper {
    width: 280px;
    padding: 20px;
    left: auto;
    right: 0;
    font-size: 14px;
}
.navbar .dropdown-menu.form-wrapper a {		
    color: #33cabb;
    padding: 0 !important;
}
.navbar .dropdown-menu.form-wrapper a:hover{
    text-decoration: underline;
}
.navbar .form-wrapper .hint-text {
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
}
.navbar .form-wrapper .social-btn .btn, .navbar .form-wrapper .social-btn .btn:hover {
    color: #fff;
    margin: 0;
    padding: 0 !important;
    font-size: 13px;
    border: none;
    transition: all 0.4s;
    text-align: center;
    line-height: 34px;
    width: 47%;
    text-decoration: none;
}	
.navbar .social-btn .btn-primary {
    background: #507cc0;
}
.navbar .social-btn .btn-primary:hover {
    background: #4676bd;
}
.navbar .social-btn .btn-info {
    background: #64ccf1;
}
.navbar .social-btn .btn-info:hover {
    background: #4ec7ef;
}
.navbar .social-btn .btn i {
    margin-right: 5px;
    font-size: 16px;
    position: relative;
    top: 2px;
}
.navbar .form-wrapper .form-footer {
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
}
.navbar .form-wrapper .form-footer a:hover{
    text-decoration: underline;
}
.navbar .form-wrapper .checkbox-inline input {
    margin-top: 3px;
}
.or-seperator {
    margin-top: 32px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}
.or-seperator b {
    color: #666;
    padding: 0 8px;
    width: 30px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    line-height: 26px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -15px;
    z-index: 1;
}
.navbar .checkbox-inline {
    font-size: 13px;
}
.navbar .navbar-right .dropdown-toggle::after {
    display: none;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}


.w-100 {
    width: 100%!important;
}

.d-block {
    display: block!important;
}

.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-img, .card-img-bottom, .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
}

.clean-card{box-shadow:0 2px 10px rgba(0,0,0,.075);border-radius:3px;margin-bottom:40px;border:2px solid #eaeaea}
.clean-card .image{border-radius:3px 3px 0 0;overflow:hidden}
.clean-card .info{padding:30px}.clean-card h4{font-weight:600;font-size:1em}
.clean-card p{opacity:.8;font-size:.85em;margin-bottom:.9em}
.clean-card .icons a{font-size:16px;color:#3b99e0;opacity:.75;height:2em;line-height:2;text-align:center;padding:.6em .4em}
.clean-card .icons a:hover{opacity:1;text-decoration:none}
img {
    vertical-align: middle;
    border-style: none;
}

.product {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.product .caption {
    margin-top: 15px;
}

.product .caption h6 {
    color: #455a64;
}

.product .caption .price + .price {
    margin-left: 15px;
}

.product.tumbnail {
    box-shadow: 0 5px 25px 0 transparent;
    transition: 0.3s linear;
    padding-top: 0;
}

.product.tumbnail img:hover {
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
}

.single-product span {
    display: inline-block;
}

.single-product .rating .fa-star, .single-product .rating .fa-star-o {
    font-size: 16px;
    color: #f7d4a0;
    margin-left: 2px;
}

.single-product .rating + * {
    margin-left: 15px;
}

.single-product h1.h1-variant-2 {
    margin-bottom: 20px;
}

.single-product .caption:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.single-product .caption span {
    display: inline-block;
    vertical-align: middle;
}

.single-product .caption .price {
    font-weight: 400;
}

.single-product .caption .price.sale {
    color: #e75854;
    font-size: 33px;
}

.single-product .caption * + .price {
    margin-left: 10.8%;
}



.single-product .caption * + .quantity {
    margin-left: 26px;
}

.single-product .caption .info-list {
    border-bottom: 1px solid #f3f3ed;
    border-top: 1px solid #f3f3ed;
    font-family: Montserrat, sans-serif;
    padding-top: 26px;
    padding-bottom: 26px;
    text-align: left;
}

.single-product .caption .info-list dt, .single-product .caption .info-list dd {
    display: inline-block;
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.single-product .caption .info-list dt {
    letter-spacing: 0.08em;
    font-size: 12px;
    color: #a7b0b4;
    width: 35%;
    text-transform: uppercase;
}

.single-product .caption .info-list dd {
    font-size: 15px;
    color: #565452;
    width: 62.5%;
}

.single-product .caption .share span.small {
    margin-top: 9px;
}

@media (max-width: 991px) {
    .single-product .caption .share span.small {
        display: block;
        margin-bottom: 15px;
    }
}

@media (max-width: 767px) {
    .single-product .table-mobile tr {
        padding-top: 0;
    }
    .single-product .table-mobile tr:before {
        display: none;
    }
}

.price {
    display: inline-block;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    letter-spacing: 0.02em;
    color: #2b2f3e;
}

.price.sale {
    color: #e75854;
}

.price del {
    color: #b0bec5;
}

.quantity {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    background: #eceff1;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 82px;
    height: auto;
    display: inline-block;
}

.quantity span {
    display: inline-block;
}

.quantity .num {
    width: 26px;
}

.quantity [class*='fa-'] {
    padding-top: 4px;
    width: 22px;
    padding-bottom: 4px;
    color: #b0bec5;
    cursor: pointer;
}

.quantity [class*='fa-']:hover {
    color: #455a64;
}


* {
    box-sizing: border-box;
}

.header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.content {
    max-width: 40rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.header-video {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header-video video {
    min-width: 100%;
    min-height: 100%;
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 1;
    left: 0;
    background: #303952;
    z-index: 1;
    opacity: .85;
}

.header-content {
    z-index: 2;
}

.header-content h1 {
    font-size: 30px;
    margin-bottom: 0;
    font-family: Lobster;
}

.header-content p {
    font-size: 100px;
    display: block;
    padding-bottom: 2rem;
}

.container p {
    line-height: 200%;
    font-family: Raleway;
    padding-bottom: 2rem;
    font-size: 1.8rem;
}

.box-carga{
    width: 40%;
}
#header{
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#master{
    padding:30px;

}


.available {
    margin-top: 19px
}

.available_title {
    font-size: 16px;
    color: #14344c;
    font-weight: 400;
    text-align: start;
}

.available_title span {
    font-weight: 700
}

.footer .page-footer {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mt-20 {
    margin-top: 20px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.social-links {
    margin-top: 10px;
    font-size: 16px;

}

.copy-right p {
    color: #ffffff;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
}

.copy-right a {
    color:  #ffffff;
    font-size: 12px;
    letter-spacing: 0.5em;
}

.alt-font {
    font-family: 'Dosis', arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.modal-dialog{
    background-color: window;
    margin-top:20px;
    border:0;

}
.modal-header{
    background-color: #4676bd;
    color: #ffffff;
}

.modal-footer{
    background-color: #9999ff;
}
.table th {
    text-align: center;
    border: solid #cccccc;
    border-width: 1px 1;
}

.table tr {
    border: solid #cccccc;
    border-width: 1px 1;
}

.table td{
    border: solid #cccccc;
    border-width: 1px 1;
}
.table thead{
    background-color: #455a64;
    color: #ffffff;
}
.table{
    width:95%;
    margin-bottom:1rem;
    border-width: 1px 1;
    color:#14344c;
}

.delimitador{
    width:560px;
    margin:auto;
}



@media (max-width: 960px) {
    .content {
        padding: 0 3rem 0 3rem;
    }
}







