<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Vineria Marcos</title>
        <link th:replace="/fragments/head">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet"> 
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
        </style>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&display=swap');
        </style>
    </head> 
    <body style="font-family: EB+Garamond">
        <header id="header">
            <div th:replace="/fragments/navbar"></div>
        </header>
    <master th:replace="/fragments/mainvideo"></master>

    <div th:replace="/fragments/bootjs"></div>
</body>
</html>    